Repository rennai455/sunday10augCRM: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,css,html,json,md}": "prettier --write",
  "*.js": "eslint --fix"
}

feat: add webhook endpoint with signature verification
  server.js
Due: prettier --write, eslint --fix

build: run build step on install and test static css
  docs/RUNBOOK.md
  package.json
  tests/smoke.test.js
Due: prettier --write, eslint --fix

refactor: consolidate html assets
  Login.html
  dashboard.html
  docs/RUNBOOK.md
  scripts/diagnostics.js
  server.js
  service-worker.js
Due: prettier --write, eslint --fix

chore: remove redis and signup env vars
  .env.example
  RUNBOOK.md
  docs/RUNBOOK.md
  package-lock.json
  package.json
Due: prettier --write

feat: require dev deps for diagnostics
  RUNBOOK.md
  scripts/diagnostics.js
Due: prettier --write, eslint --fix

refactor: modularize frontend scripts
  dashboard.html
  public/dashboard.html
  public/scripts/api.js
  public/scripts/app.js
  public/scripts/main.js
  public/scripts/ui.js
  service-worker.js
Due: prettier --write, eslint --fix

feat: add fallbacks for missing offline features
  service-worker.js
Due: prettier --write, eslint --fix

docs: add lint and test instructions
  .github/workflows/lint-test.yml
  README.md
Due: prettier --write

harden server bootstrap and diagnostics
  .env.example
  config/index.js
  package-lock.json
  package.json
  scripts/diagnostics.js
  server.js
Due: prettier --write, eslint --fix

doc: document required Railway env vars
  RUNBOOK.md
  docs/RUNBOOK.md
Due: prettier --write

docs: update runbook database scripts
  RUNBOOK.md
Due: prettier --write

Use Redis for rate limiting
  docker-compose.yml
  package.json
  server.js
Due: prettier --write, eslint --fix

Add Dockerfile with build tools for Railway
  Dockerfile
Due: none

refactor server into modules and add client bundling
  package.json
  public/dashboard.html
  public/scripts/app.js
  public/scripts/modules/darkMode.js
  public/scripts/modules/dashboard.js
  public/scripts/modules/sidebar.js
  server.js
  service-worker.js
  src/auth.js
  src/middleware.js
  src/routes.js
Due: prettier --write, eslint --fix

docs: document env vars and Railway deployment
  README.md
  RUNBOOK.md
Due: prettier --write

feat(security): Redis-backed rate limiting and webhook replay guard; perf(db): composite indexes; chore(cors): default-deny; docs+tests
  .env.example
  README.md
  RUNBOOK.md
  config/index.js
  db/migrate.sql
  db/schema.sql
  metrics.js
  src/middleware.js
  src/redis.js
  src/replayStore.js
  src/routes.js
  tests/rate-limit-metrics.test.js
  tests/webhook.test.js
Due: prettier --write, eslint --fix

feat(metrics): add webhook_events_total; feat(config): env-tunable rate limits; docs: update README/RUNBOOK; tests: add webhook metrics test
  .env.example
  README.md
  RUNBOOK.md
  config/index.js
  metrics.js
  src/middleware.js
  src/routes.js
  tests/webhook-metrics.test.js
Due: prettier --write, eslint --fix

Security: Redis-backed rate limiting + webhook replay guard; Perf: composite indexes; CORS default-deny; Docs+Tests (#155)
  .env.example
  README.md
  RUNBOOK.md
  config/index.js
  db/migrate.sql
  db/schema.sql
  metrics.js
  src/middleware.js
  src/redis.js
  src/replayStore.js
  src/routes.js
  tests/rate-limit-metrics.test.js
  tests/webhook-metrics.test.js
  tests/webhook.test.js
Due: prettier --write, eslint --fix

feat(audit): audit_log table + helper, instrument login/logout/webhook; feat(docker): multi-stage build with healthcheck; chore(logs): PII redaction; ops: alerts + grafana; ci: preview workflow
  .github/workflows/preview.yml
  Dockerfile
  README.md
  RUNBOOK.md
  db/migrate.sql
  db/schema.sql
  ops/alerts/prometheus-rules.yml
  ops/grafana/api-overview.json
  scripts/healthcheck.js
  src/audit.js
  src/middleware.js
  src/routes.js
Due: prettier --write, eslint --fix

chore: add generated openapi spec
  docs/openapi.json
Due: prettier --write

chore: add generated openapi spec (#156)
  docs/openapi.json
Due: prettier --write

Check middleware security in diagnostics
  diagnostics.js
Due: prettier --write, eslint --fix

Check middleware security in diagnostics (#157)
  diagnostics.js
Due: prettier --write, eslint --fix

chore: Railway-ready deps; guard husky prepare in prod
  package-lock.json
  package.json
Due: prettier --write

fix(config): allow computed env props on cleanEnv; deps: add rate-limit-redis; chore: Dockerfile.rw + local Railway sim
  Dockerfile.rw
  config/index.js
  package-lock.json.bak
  package.json.bak
Due: prettier --write, eslint --fix

chore(middleware): silence express-slow-down warning by using delayMs function and validate opts
  src/middleware.js
Due: prettier --write, eslint --fix

build: mkdir -p docs before generating OpenAPI/JSON Schemas (fix Docker ENOENT)
  docs/api-schemas.json
  scripts/gen-openapi.js
  scripts/gen-schemas.js
Due: prettier --write, eslint --fix

ci: add GitHub Actions workflow to deploy to Railway via CLI
  .github/workflows/railway-deploy.yml
Due: none

docs: add .env.railway.example template for Railway variables
  .env.railway.example
Due: none

Update local port and add n8n setup workflow
  .env.example
  Dockerfile
  README.md
  RUNBOOK.md
  codex.patch
  config/index.js
  docker-compose.yml
  docs/N8N-HMAC-RECIPE.md
  docs/RAILWAY_BOOTSTRAP.md
  docs/RAILWAY_N8N_SETUP.md
  lighthouserc.js
  ops/n8n/docker-compose.yml
  ops/n8n/workflows/hmac_to_crm_example.json
  scripts/healthcheck.js
  src/routes.js
Due: prettier --write, eslint --fix

Refactor dashboard for CSP-safe assets
  public/css/dashboard.css
  public/dashboard.html
  public/scripts/modules/dashboard.js
  public/scripts/pages/dashboard.js
Due: prettier --write, eslint --fix

Serve dashboard assets via root static mount
  public/css/dashboard.css
  public/dashboard.html
  public/favicon.ico
  public/meta.json
  public/scripts/pages/dashboard.js
  src/middleware.js
Due: prettier --write, eslint --fix

Refactor server to ESM and update login UX
  package-lock.json
  package.json
  public/Login.html
  public/analytics.html
  public/campaigns.html
  public/clients.html
  public/css/dashboard.css
  public/dashboard.html
  public/index.html
  public/leads.html
  public/scripts/pages/analytics.js
  public/scripts/pages/campaigns.js
  public/scripts/pages/clients.js
  public/scripts/pages/common.js
  public/scripts/pages/dashboard.js
  public/scripts/pages/leads.js
  public/scripts/pages/login.js
  public/scripts/pages/settings.js
  public/settings.html
  server.js
  src/auth.js
  src/routes.js
Due: prettier --write, eslint --fix

Add n8n drip campaign Resend workflow
  ops/n8n/workflows/drip_campaign_resend.json
Due: prettier --write

Trigger n8n drip workflow after lead creation
  .env.example
  src/routes.js
  src/utils/dripIntegration.js
Due: prettier --write, eslint --fix

test: ESM health test with module mocks
  jest.config.cjs
  jest.config.js
  package-lock.json
  package.json
  tests/health.test.mjs
Due: prettier --write, eslint --fix

feat: lead scoring + intake + API contract tooling
  config/index.js
  db/migrate.sql
  db/migrations/0006_leads_add_score.js
  public/api-client.ts
  public/scripts/pages/leads.js
  scripts/backfillLeadScores.js
  scripts/gen-openapi.js
  scripts/validate-openapi.js
  src/audit.js
  src/auth.js
  src/db/pool.js
  src/middleware.js
  src/observability.js
  src/redis.js
  src/replayStore.js
  src/routes.js
  src/utils/dripIntegration.js
  src/utils/leadScoring.js
  src/validate.js
Due: prettier --write, eslint --fix

feat: lead enrichment + events pipeline, UI badges, auto-enrich on create
  db/migrate.sql
  db/migrations/0007_add_is_client_column.js
  db/migrations/0008_lead_timeline.js
  db/migrations/0009_leads_enrichment_fields.js
  db/migrations/0010_add_website_column.js
  db/migrations/0011_create_lead_events.js
  public/analytics.html
  public/api-client.ts
  public/campaigns.html
  public/clients.html
  public/css/dashboard.css
  public/dashboard.html
  public/form.html
  public/lead.html
  public/leads.html
  public/scripts/pages/common.js
  public/scripts/pages/dashboard.js
  public/scripts/pages/lead.js
  public/scripts/pages/leads.js
  public/settings.html
  scripts/enrichLeads.js
  scripts/gen-openapi.js
  scripts/seedDemoData.js
  src/routes.js
  src/utils/leadEnrichment.js
  src/utils/leadEvents.js
  src/utils/leadScoring.js
  src/utils/leadTimeline.js
  src/validate.js
Due: prettier --write, eslint --fix

feat: deal coach UI + suggestion actions, lead events unification, cloning UI, enrichment + attribution, reactivation cron
  db/migrate.sql
  db/migrations/0012_leads_attribution_fields.js
  jest.config.js
  public/campaigns.html
  public/css/dashboard.css
  public/lead.html
  public/leads.html
  public/scripts/pages/campaigns.js
  public/scripts/pages/lead.js
  public/scripts/pages/leads.js
  scripts/enrichLeads.js
  scripts/reactivateDormantLeads.js
  src/routes.js
  src/utils/campaignCloner.js
  src/utils/dealCoach.js
  src/utils/enrichment.js
  src/utils/leadEvents.js
  src/utils/sourceDetection.js
Due: prettier --write, eslint --fix
