Repository rennai455/sunday10augCRM: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Remove Docker setup and prepare for Railway Node builder
  Dockerfile
  docker-compose.yml
Due: none

chore(server): use dynamic PORT from env with 3002 fallback
  server.js
Due: prettier --write, eslint --fix

chore: add dotenv dep and no-op build script for Railway
  package.json
Due: prettier --write

chore(server): standardize PORT handling (env || 3000) and startup log
  server.js
Due: prettier --write, eslint --fix

chore(dev): add nodemon.json for better DX (watch src/config/server.js)
  nodemon.json
Due: prettier --write

feat(db): install pg and add config/db.js re-export for shared Pool; ensure env-driven SSL and placeholders (no .env committed)
  config/db.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Fix: Add missing envalid dependency
  package-lock.json
  package.json
Due: prettier --write

Install helmet middleware
  package-lock.json
  package.json
Due: prettier --write

Add compression dependency to fix missing module error
  package.json
Due: prettier --write

Replace package-lock.json with updated lock file to include compression dependency
  package-lock.json
Due: prettier --write

Delete package-lock.json
  package-lock.json
Due: prettier --write

Add package-lock.json to sync dependencies and fix missing modules
  package-lock.json
Due: prettier --write

Add full dependency list to match runtime imports
  package.json
Due: prettier --write

Add full dependency list to match runtime imports (#158)
  package.json
Due: prettier --write

chore(diagnostics): convert to ESM for compatibility with project 'type: module'; allow --skip-api flag
  scripts/diagnostics.js
Due: prettier --write, eslint --fix

chore: regenerate package-lock.json to match updated dependencies
  package-lock.json
Due: prettier --write

Add rate-limit-redis dependency to fix missing module error
  package.json
Due: prettier --write

fix(runtime): add rate-limit-redis and convert metrics.js to ESM; ensure compression dependency present
  metrics.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Normalize dependencies
  package.json
Due: prettier --write

Normalize dependencies (#159)
  package.json
Due: prettier --write

chore: regenerate lockfile after dependency updates (align with package.json)
  package-lock.json
Due: prettier --write

chore: remove package-lock.json.bak and sync current state
  package-lock.json.bak
Due: none

chore: pin Node engines to >=18 and convert ESLint config to ESM for pre-commit compatibility
  eslint.config.js
  package.json
Due: prettier --write, eslint --fix

chore(server): bind to 0.0.0.0 for Railway/PAAS compatibility
  server.js
Due: prettier --write, eslint --fix

chore(db): convert migration + seed scripts to ESM and make admin seed idempotent (upsert)
  db/run-migrations.js
  db/seed.js
Due: prettier --write, eslint --fix

chore(scripts): add db:migrate, db:seed, and db:prepare for local setup
  package.json
Due: prettier --write

fix(ui): ensure login page centers by overriding body grid columns (avoid dashboard 2-col layout on login)
  public/css/dashboard.css
Due: prettier --write

sec: remove demo auth paths, make CORS strict-by-default, protect /metrics (token or admin), and gate HTML pages server-side
  config/index.js
  src/auth.js
  src/middleware.js
  src/routes.js
Due: prettier --write, eslint --fix

sec: add ADMIN_API_TOKEN guard for /api/admin/*; restrict /metrics by host (internal-only) and config-driven token; update docs; CORS strict by default
  config/index.js
  docs/RAILWAY_CHECKLIST.md
  docs/RUNBOOK.md
  src/routes.js
Due: prettier --write, eslint --fix

Harden production security for Railway deployment
  config/index.js
  docs/RAILWAY_CHECKLIST.md
  docs/RUNBOOK.md
  server.js
  src/middleware.js
  src/routes.js
Due: prettier --write, eslint --fix

Harden production security for Railway deployment (#160)
  config/index.js
  docs/RAILWAY_CHECKLIST.md
  docs/RUNBOOK.md
  server.js
  src/middleware.js
  src/routes.js
Due: prettier --write, eslint --fix

feat(security): add optional TOTP 2FA (setup/verify endpoints, admin enforcement flag), DB columns, and minimal CI (npm ci + non-blocking lint)
  .github/workflows/ci.yml
  config/index.js
  db/migrate.sql
  package-lock.json
  package.json
  src/routes.js
Due: prettier --write, eslint --fix

Add MFA security flows and stabilize tests
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
  config/index.js
  db/migrate.sql
  db/migrations/0013_mfa_password_resets.js
  db/schema.sql
  docs/RAILWAY_CHECKLIST.md
  docs/RUNBOOK.md
  eslint.config.js
  jest.config.cjs
  jest.config.js
  public/analytics.html
  public/css/tailwind-lite.css
  public/css/theme.css
  public/dashboardtest.html
  public/scripts/pages/analytics.js
  public/scripts/pages/leads.js
  public/vendor/chart-lite.js
  public/vendor/html2pdf-stub.js
  server.js
  src/auth.js
  src/middleware.js
  src/routes.js
  src/security/encryption.js
  src/security/totp.js
  src/utils/alerting.js
  src/utils/leadEnrichment.js
  src/validate.js
  tests/auth-totp.test.mjs
  tests/health.test.mjs
  tests/password-reset.test.mjs
  tests/setup.js
Due: prettier --write, eslint --fix

chore(config): resolve merge by combining metrics/admin tokens and add optional TOTP_ENCRYPTION_KEY + PASSWORD_RESET_TOKEN_TTL_MINUTES
  config/index.js
Due: prettier --write, eslint --fix

ci: unify build-test workflow with Postgres service and smoke diagnostics
  .github/workflows/ci.yml
Due: none

chore(ci,security,docs): add Dependabot and CodeQL, refine CI, harden docs; extend config keys; add vendor stubs; adjust analytics; add MFA/reset schema; update ESLint
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
  config/index.js
  db/migrate.sql
  docs/RAILWAY_CHECKLIST.md
  docs/RUNBOOK.md
  eslint.config.js
  jest.config.cjs
  jest.config.js
  public/analytics.html
  public/scripts/pages/analytics.js
  public/vendor/chart-lite.js
  public/vendor/html2pdf-stub.js
  server.js
Due: prettier --write, eslint --fix

Fix Express 5 path-to-regexp error: replace app.options('*') with OPTIONS interceptor for CORS preflight
  src/middleware.js
Due: prettier --write, eslint --fix

fix(rate-limit): create a fresh RedisStore per limiter and use IPv6-safe ipKeyGenerator; update TOTP/reset limiters to use ipKeyGenerator-based keyGenerator
  src/middleware.js
  src/routes.js
Due: prettier --write, eslint --fix

fix(rate-limit): ensure all limiters use fresh RedisStore instances and IPv6-safe ipKeyGenerator (routes.js)
  src/routes.js
Due: prettier --write, eslint --fix

feat(startup): run DB migrations and seed on boot via initDatabase helper; export runMigrations/seed and make seed idempotent
  db/run-migrations.js
  db/seed.js
  server.js
  src/utils/dbInit.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,css,html,json,md}
  eslint --fix: any of: *.js
